.contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .contact-hero {
        display: flex;
        height: 50vh;
        width: 100%;
        background-position-x: 20%;
        background-position-y: 80%;
        .overlay {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            background: rgba(34, 33, 33, 0.7);
            color: white;
        }
    }
    .form-section {
        display: flex;
        justify-content: space-evenly;
        .contact-form {
            margin: 2em;
            padding: 2em 0 1em;
            border: 2px solid black;
            width: 30em;
            height: auto;
            .sub {
                height: 4em;
                padding-left: 2em;
                margin-bottom: 1em;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &:nth-child(4) {
                    height: auto;
                }
                label {
                    margin-bottom: 0.2em;
                }
                input {
                    padding-left: 1em;
                    font-size: 1em;
                    width: 80%;
                    height: 3em;
                } 
                textarea {
                    padding-left: 1em;
                    padding-top: 1em;
                    width: 80%;
                    height: 10em;
                    font-size: 1.3em;

                }
                .submit-btn {
                    background: rgb(125, 125, 206);
                    color: white;
                    width: 4em;
                    height: 2em;
                    border: none;
                    text-transform: uppercase;
                    font-size: 1em;
                }
            }
        }
        .contact-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                text-align: justify;
                width: 20em;
                font-size: 1.1em;
            }
        }
    }
}

@supports (-ms-ime-align:auto) {
    .contact-container {
        .form-section {
            justify-content: space-around;
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 499px) {
    .contact-container {
        .form-section {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            .contact-form {
                width: auto;
            }
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
    .contact-container {
        .form-section {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
    }
}