.navbar {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em 0;
    width: 100%;
    height: 4em;
    .logo-link {
        text-decoration: none;
        .logo {
            font-size: 1.6em;
            cursor: pointer;
            text-decoration: none;
            text-decoration-style: none;
            color: white;
            font-family: 'Mansalva', cursive;
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 7em;
    }
}